<h1>Burgers</h1>

<h2>Burgers ready to eat</h2>

<ul id="not-devoured">
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers/burger-block devoured=0}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers</h2>

<ul id="devoured">
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burger-block devoured=1}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Cat</h2>
<form id="create-form">

  <div class="form-group">
    <label for="ca">Burger:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" id="sleepy" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0" id="awake"> Awake
  </div>

  <button type="submit">Add Burger</button>
</form>